body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
  font-family: "Libre Baskerville", serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray;
  padding: 3rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading-primary {
  color: $color-light;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  &-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 2s; */
  }
  &-sub {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}
