html {
  font-size: 62.5%;
}
body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif; */
  font-family: "Libre Baskerville", serif;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.7;
  color: $color-gray;
  // padding: 3rem;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.heading-primary {
  color: $color-light;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 4rem;
  &-main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-iteration-count: 3; */
    /* animation-delay: 2s; */
  }
  &-sub {
    display: block;
    font-size: $default-font-size;
    font-weight: 400;
    letter-spacing: 1.7rem;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secondary {
  font-size: 3.5rem;
  margin: 1rem 0;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.1rem;
  transition: all 0.4s;
  display: inline-block;
  background-image: linear-gradient(to right, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  color: transparent;

  &:hover {
    transform: skewY(1deg) skewX(30deg) scale(1.02);
    text-shadow: 0.5rem 1rem 2rem rgba($color-dark, 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
