//COLORS
$color-primary: #29b3f3cc;
$color-secondary: #28b457cc;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-gray: #777;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-light: #fff;
$color-dark: #000;
$color-pink: #e4e4;

//About section
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// Grid
$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-horizontal: 4rem;

//default-font-size
$default-font-size: 1.6rem;
