//COLORS
$color-primary: #29b3f3cc;
$color-secondary: #28b457cc;
$color-gray: #777;
$color-light: #fff;
$color-dark: #000;
$color-pink: #e4e4;

//About section
$color-grey-light-1: #f7f7f7;

// Grid
$grid-width: 114rem;
$grid-vertical: 8rem;
$grid-horizontal: 6rem;

//default-font-size
$default-font-size: 1.6rem;
