.section-about {
  background-color: $color-grey-light-1;
  padding: 22rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  margin-top: -8rem;
  background-image: linear-gradient(
      to right bottom,
      $color-primary,
      $color-secondary
    ),
    url(../src/Images/bgimage.jpg);
  background-size: cover;
  transform: skewY(-7deg);

  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 20rem 0 10rem 0;
  margin-top: -9rem;
}

.section-stories {
  position: relative;
  padding: 10rem 0;
}
